[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zheshko
[access "refs/for/refs/*"]
	read = group user/Zheshko
	push = group user/Zheshko
	label-Code-Review = -2..+2 group user/Zheshko
	label-Verified = -1..+1 group user/Zheshko
	rebase = group user/Zheshko
	removeReviewer = group user/Zheshko
	submit = group user/Zheshko
[access "refs/heads/*"]
	read = group user/Zheshko
	create = group user/Zheshko
	push = +force group user/Zheshko
	pushMerge = group user/Zheshko
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/Zheshko
	pushTag = group user/Zheshko
	pushSignedTag = group user/Zheshko
